﻿<html>
    <body>
        @for (int i = 0; i < (int)ViewData["occurrences"]; i++)
        {
            <p>@ViewBag.One @ViewBag.Two @ViewBag.Three @ViewBag.Four @ViewBag.Five @ViewBag.Six @ViewBag.Seven @ViewBag.Eight @ViewBag.Nine</p>
        }        
        @RenderBody()
    </body>
</html>